.editorRoot {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}

.editorTopBar,
.editorBottomBar {
  width: 100%;
  height: 7%;
  background-color: #ffffff;
}

.logo {
  margin-left: 7px;
  height: 100%;
}

.codeEditor {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  background-color: #ffffff;
  margin: 10px;
  flex-grow: 1;
  display: flex;
  line-height: 1rem;
  height: calc(86% - 20px);
}

.lineNumbers {
  padding-top: 10px;
  background-color: #e2e2e2;
  width: 50px;
  overflow-y: auto;
  text-align: right;
  flex-shrink: 0;
}

.lineNumbers::-webkit-scrollbar {
  display: none;
}

.lineNumber {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding-right: 8px;
  color: #7e7e7e;
}

.codeArea {
  font-family: inherit;
  font-weight: inherit;
  color: #494848;
  padding-top: 10px;
  padding-left: 5px;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
  font-size: 1.6rem;
  border-style: none;
  line-height: 1.6rem;
  box-sizing: border-box;
}

.codeArea:focus {
  outline: 0;
}

.editorBottomBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.editorBottomBar button {
  cursor: pointer;
  border: none;
  background-color: #c4c4c4;
  padding: 10px;
  color: #464545;
  border-radius: 13px;
  margin-right: 10px;
  font-size: 1.6rem;
  min-width: 100px;
}

.editorBottomBar .runSelected {
  margin-left: auto;
}

.settingIcon,
.resetIcon {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  background-color: #c4c4c4;
  border-radius: 15px;
  width: 20px;
}

.upArrow {
  padding: 0 10px;
  width: 15px;
}
