.Menu {
  border-radius: 10px;
  position: absolute;
  background-color: #e1e1e1;
  overflow: hidden;
}

.optionsBtn {
  margin-left: 10px;
}

.Menu button {
  background-color: #eee;
  display: block;
  border: none;
  cursor: pointer;
  padding: 10px;
  min-width: 120px;
  font-size: 1.5rem;
}

.Menu button:hover {
  background-color: #d1daf1;
}
